* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-width: 80%;
}

.center {
    display: flex;
    justify-content: center;
}

/* HEADER */
.navbar {
    display: flex;
    gap: 4rem;
    padding: 1rem 2rem;
    background-color: bisque;
}

.navlink {
    color: black;
}

.active {
    color: brown;
}

/* TABLE */
table {
    text-align: center;
    width: 100%;
    padding-top: 2rem;
}

th {
    padding: 1rem 0.5rem;
    border: 1px solid rgb(192, 192, 192);
    background-color: lightcyan;
}

td {
    padding: 0.5rem 0.3rem;
    border: 1px solid rgb(192, 192, 192);
    background-color: rgb(240, 247, 248);
}